body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: orange;
    font-size: 48px;
    text-align: center;
}

ul {
    list-style: none;
}

ul li {
    font-size: 24px;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}